
body {
background-color: bisque;

}
h1{
    text-align: center;
    color: blueviolet;
}

footer {
    text-align: center;
    padding-top: 25px;
 
}

/*make these horizontally aligned*/
.cityDisplay {
    display: center;
    margin-top: 10px;
}